<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmt.oauth.passport.mapper.AuthCodesMapper">
  <resultMap id="BaseResultMap" type="com.hmt.oauth.passport.entity.AuthCodesEntity">
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="app_key" jdbcType="VARCHAR" property="appKey" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="revoked" jdbcType="TINYINT" property="revoked" />
    <result column="expires_time" jdbcType="BIGINT" property="expiresTime" />
    <result column="timestamps" jdbcType="TIMESTAMP" property="timestamps" />
  </resultMap>

  <sql id="Base_Column_List">
    login_name, app_key, code, revoked, expires_time, timestamps
  </sql>

  <!--query Where  语句-->
  <sql id="queryWhereClause">
    <where>
      <if test="loginName != null">
        <bind name="loginName" value="'%' + loginName + '%'"/>
        AND login_name LIKE #{loginName}
      </if>
      <if test="startTime != null">
        AND <![CDATA[timestamps > #{startTime,jdbcType=TIMESTAMP}]]>
      </if><if test="endTime != null">
        AND <![CDATA[timestamps < #{endTime,jdbcType=TIMESTAMP}]]>
      </if>
    </where>
  </sql>

  <!--query limit 语句-->
  <sql id="queryLimitClause">
    <if test="offset != null and offset >= 0 and pageSize != null and pageSize > 0">
      LIMIT ${offset}, ${pageSize}
    </if>
  </sql>

  <!--query orderby 语句-->
  <sql id="queryOrderByClause">
    <if test="orderBy != null">
      ORDER BY ${orderBy}
    </if>
    <if test="orderBy == null">
      ORDER BY timestamps DESC
    </if>
  </sql>



  <select id="selectByExample" parameterType="com.hmt.oauth.passport.entity.AuthCodesEntity" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_oauth_auth_codes
  </select>

  <select id="selectAuthCodes" parameterType="com.hmt.oauth.passport.entity.AuthCodesEntity" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_oauth_auth_codes
    <include refid="queryWhereClause"/>
    <include refid="queryOrderByClause"/>
    <include refid="queryLimitClause"/>
  </select>
  <!--pageTotal-->
  <select id="selectAuthCodesTotal" parameterType="com.hmt.oauth.passport.entity.AuthCodesEntity" resultType="java.lang.Integer">
    select count(1)
    from t_oauth_auth_codes
    <include refid="queryWhereClause"/>
  </select>

  <select id="findLoginNameByAuthCode" parameterType="java.lang.String" resultType="java.lang.String">
     select login_name from t_oauth_auth_codes where code = #{code,jdbcType=VARCHAR}
  </select>

  <select id="getAuthCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_oauth_auth_codes where code = #{code,jdbcType=VARCHAR}
  </select>


  <insert id="insertAuthCodes" parameterType="com.hmt.oauth.passport.entity.AuthCodesEntity">
    insert into t_oauth_auth_codes (login_name, app_key, code, expires_time)
    values (#{loginName,jdbcType=BIGINT}, #{appKey,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR},
       #{expiresTime,jdbcType=BIGINT})
  </insert>

</mapper>